mlflow==3.14.0
astunparse==1.6.3
dill==0.4.0
numpy==1.26.4
pandas==2.3.2
psutil==7.2.2
pyarrow==23.0.0
scikit-learn==1.8.0
scipy==1.17.0
skops==0.14.0
torch==2.8.0
tqdm==4.67.1
pytest==8.4.1
seaborn==0.13.2